---
import Layout from '../layouts/BlogPost.astro';
---

<html lang="en">
	<body>
		<main>
			<h1>About Me</h1>
			<p>
				I am a pre-mechanical engineering student at <strong>The Ohio State University</strong>, 
     			where I'm currently enrolled in Math 1172, Physics 1250, and Engr 1182. 
      			I am currently pursuing a minor in Philosophy as it is a personal passion of mine.
    </p>
			</p>
		</main>
	</body>
</html>
 
