---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Mechanical Engineering student at The Ohio State University."
	pubDate={new Date('2026-03-30')}
	heroImage={AboutHeroImage}
></Layout>
	<body>
		I am a pre-mechanical engineering student at <strong>The Ohio State University</strong>,
		where I'm currently enrolled in Math 1172, Physics 1250, and Engr 1182. I am currently
		pursuing a minor in Philosophy as it is a personal passion of mine. 
	</body>
</Layout>
