---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Mechanical Engineering student at The Ohio State University."
	pubDate={new Date('March 30 2026')}
	heroImage={AboutHeroImage}
>
	</p>
</Layout>
