---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const title = "Projects Summary | Landon Green";
const description = "Projects Summary";
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <main>
            <section class="hero">
                <h1>My Projects Overview</h1>
            </section>
        </main>
        <Footer />
    </body>
</html>