---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const title = "Past Research | Landon Green";
const description = "My past experience and research.";
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <main>
            <section class="hero">
                <h1>Past Projects & Research</h1>
            </section>
            
            <hr />

            <div class="prose">
                <h3>Guild Associate Internship</h3>
                <p>
                  
                </p>

                <h3>Damage INC. Volunteer Work</h3>
                <p>
                  
                </p>

                <h3>Other Notable Mentions</h3>
                <p>
                    
                </p>
            </div>
            <div class="cta">
                <p>Interested in collaborating on a project or discussing research?</p>
                <a href="mailto:thelandonjgreen@gmail.com" class="contact-button">Reach Out</a>
            </div>
        </main>
        <Footer />
    </body>
</html>